.wrapper {
  width: 100%;
  min-height: 100vh;
  background: #1e1e1e;
    // transition: all ease 0.125s;
  position: relative;
  &::before {
    // transition: all linear 0.225s;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../asstes/img/Vector.svg);
  }
  .container {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 80px 20px 85px 20px;
    @media screen and (max-width: 768px) {
      padding: 74px 20px 75px 20px;
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        cursor: pointer;
        width: 221px;
        height: 75px;
        margin-right: 15px;
        @media screen and (max-width: 768px) {
          width: 180px;
          height: auto;
        }
        @media screen and (max-width: 450px) {
          width: 150px;
          height: auto;
        }
      }
    }
    .title {
      margin-top: 44px;
      margin-bottom: 44px;
      display: flex;
      justify-content: center;
      img{
        width: 600px;
        height: auto;
      }
      @media screen and (max-width: 768px) {
        margin-top: 44px;
        margin-bottom: 44px;
        img{
          width: 100%;
        }
      }
      @media screen and (max-width: 480px) {
        margin-top: 34px;
        margin-bottom: 34px;
      }
      @media screen and (max-width: 380px) {
      }
    }
    .description {
      text-align: center;
      font-family: "Gordita";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 100%;
      color: #ffffff;
      //  transition: all linear 0.225s;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
    form {
      margin-top: 80px;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 768px) {
        margin-top: 64px;
      }
      .inputWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 643px;
        height: 66px;
        transition: all ease-in-out 0.225s;
        @media screen and (max-width: 768px) {
          width: 100%;
          max-width: 643px;
          height: 66px;
        }
        @media screen and (max-width: 500px) {
          height: 152px;
          flex-direction: column;
          justify-content: flex-start;
        }
        .email {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 0 0 0 23px;
          background: rgba(255, 255, 255, 0.05);
          border-radius: 22px;
          border: none;
          &:focus-visible {
            outline: none;
          }
          font-family: "Gordita";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 100%;
          color: rgba(255, 255, 255, 0.6);
          @media screen and (max-width: 768px) {
            font-size: 20px;
          }
          @media screen and (max-width: 500px) {
            height: 66px;
          }
          @media screen and (max-width: 440px) {
            font-size: 16px;
          }
        }
        .btn {
          cursor: pointer;
          width: 212px;
          height: 100%;
          position: absolute;
          right: 0;
          bottom: 0;
          border-radius: 22px;
          border: none;
          font-family: "Gordita Medium";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 100%;
          color: #000000;
          padding: 5px 10px;
            transition: all linear 0.2s;
          background: #fff;
          &:hover {
            box-shadow: rgba(200, 210, 220, 0.9) 0px 4px 12px;
          }
          display: flex;
          align-items: center;
          justify-content: center;
          .lds-dual-ring {
            display: inline-block;
            width: 40px;
            height: 40px;
            &:after {
              content: " ";
         
              margin-top: -3px;
              display: block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 4px solid #000;
              border-color: #000 transparent #000 transparent;
              animation: lds-dual-ring 1.2s linear infinite;
            }
          }
          @media screen and (max-width: 768px) {
            width: 160px;
            font-size: 20px;
          }

          @media screen and (max-width: 500px) {
            height: 66px;
            width: 100%;
            box-sizing: border-box;
          }
          &:disabled {
            background: #fff;
            cursor: auto;
            &:hover {
              box-shadow: none;
            }
          }
        }
      }
      .inputActiv {
        @media screen and (max-width: 500px) {
          height: 66px;
        }
        .btn {
          width: 100%;
          font-size: 22px;
          @media screen and (max-width: 768px) {
            font-size: 20px;
          }
          @media screen and (max-width: 440px) {
            font-size: 16px;
          }
        }
      }
    }
    .notify {
      text-align: center;
      margin-top: 64px;
      font-family: "Gordita";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      color: rgba(255, 255, 255, 0.5);
      //  transition: all linear 0.225s;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
      @media screen and (max-width: 360px) {
        font-size: 17px;
      }
    }
  }
}

.active {
  background: #ffffff;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../asstes/img/Vector2.svg);
  }
  .container {
    .description {
      color: #000000;
    }
    form {
      .inputWrapper {
        .email {
          background: rgba(0, 0, 0, 0.05);
          color: rgba(0, 0, 0, 0.6);
        }
        .btn {
          background: #000000 !important;
          color: #fff;
          &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          }
           .lds-dual-ring {
            &:after {
              border: 4px solid #fff;
              border-color: #fff transparent #fff transparent;
            }
          }
        }
      }
    }
    .notify {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
